body {
  background-color: #000000; /*black*/
  /*background-image: url(home_rhs_files/left_stripe.gif);*/
  margin-left: 20pt;
  margin-top: 15pt;
  color: #FFFFFF; /*white*/
  height: 100%;
}

a:link {
  color: #cc3333; /*redish*/
  text-decoration: none;
}
a:visited {
  color: #41A317; /* lime green *//* #00FF00;  pastel green */
  text-decoration: none;
}
a:hover {
  color: #869eb5; /*bluish*/
  text-decoration: none;
}
a:active {
  color: #869eb5; /*bluish*/
  text-decoration: none;
}

div.author {
  font-family: helvetica,sans-serif;
  font-size: 10pt;
}

/* Lyft Brand Guidelines, palette */
/* https://drive.google.com/file/d/19mVO3lRs2ZF1X60ItbZWyRWGHcjAWli6/view */
.lyft {
}

a.lyft:link {
    color: #ff00bf /* lyft-pink */
}
a.lyft:visited {
    color: #8f91ff; /* lyft-violet-2 */
    text-decoration: none;
}
a.lyft:hover {
    color: #8d3a7f; /* lyft-purple */
    text-decoration: none;
    }
a.lyft:active {
  color: #869eb5; /*bluish*/
  text-decoration: none;
  }

.pubentry {
  width: 600; /*550pt;*/
  font-family: helvetica,sans-serif;
  font-size: 10pt;
  font-weight: bold;
  text-align: justify;
  color: #cccc99; /*yellowish*/
}

.honentry {
  font-family: helvetica,sans-serif;
  font-size: 10pt;
  font-weight: bold;
  color: #cccc99; /*yellowish*/
}

div.article {
  color: #cc3333; /*redish*/
  /*font-style:STRONG;*/
  font-weight: bold;
  font-family: helvetica, sans-serif;
  font-size: 12pt;
}

a.article:link {
  color: #cc3333; /*redish*/
  text-decoration: none;
}
a.article:visited {
  color: #41A317; /* lime green */
  text-decoration: none;
}
a.article:hover {
  color: #869eb5; /*bluish*/
  text-decoration: none;
}
a.article:active {
  color: #869eb5; /*bluish*/
  text-decoration: none;
}

div.plinks {
  color: #cc3333; /*redish*/
  font-family: arial,helvetica,sans-serif;
  font-weight: normal;
  font-size: 10pt;
}

a.hidden {
  color: #000000;
  font-size: 1pt; /*make it 0pt?*/
  text-decoration: none;
}

h3.abstract {
  color: white; /*#cccc99; /*yellowish*/
}

h3.pnotes {
  color: white; /*#cccc99; /*yellowish*/
}

p.abstract {
  width: 600;
  text-align: justify;
  color: #cccc99; /*yellowish*/
}

p.pnotes {
  width: 600;
  text-align: justify;
  color: #cccc99; /*yellowish*/
}

ul.pnotes {
  width: 558; /*hack for mlabs page*/
  text-align: justify;
  color: #cccc99; /*yellowish*/
}

/* menu */
td.menu {
  border-right: 1px solid;
  background-color: #141414; /*dark grey*/
  height: 100%;
  width: 135;
  padding-top: 100pt;
}

div.menuitem {
  padding-top: 0pt;
  padding-bottom: 20pt;
  color: #cc3333; /*redish*/
  font-family: arial,helvetica,sans-serif;
  font-weight: bold;
  font-size: 10pt;
}

