/*
#ff00bf; lyft-pink 
#8f91ff; lyft-violet-2
#8d3a7f; lyft-purple
#cc3333; redish
#869eb5; bluish
#cccc99; yellowish
#ffffff; white
#a0a0a0; grey
#aaa9ad; name grey
#000000; black
*/

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

:root {
    --main-link-color: #00cdcd;
    --link-decoration: none;
    --link-hover-decoration: underline;
    --link-hover-color: #8d3a7f; /* lyft-purple */
    --link-active-color: #869eb5; /* bluish */
    --emph-color: #fa0087;
    --link-emph-color: #fa0087;
    --primary-text-color: #b2b2b2; /* grey */
    --secondary-text-color: #7f7f7f;
    --main-font-stack:
        'Jost', Futura, 'Futura PT', 'Futura Std', 'Gothic', 'Gill Sans', 'Avant Garde',
        system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --main-font-size: 10pt;
    --emph-font-size: 12pt;
    --footer-font-size: 7.5pt;
    --name-header-font-size: 42pt;
    --external-link-font-size: 11pt;
    --hidden-font-size: 1pt; /* make it 0pt? */
    --main-width: 650;
    --menu-width: 200px;
    --list-item-width: calc(var(--main-width) - 40);
}

body {
    background-color: #000000; /* black */
    margin-left: 20pt;
    margin-top: 15pt;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    color: #ffffff; /* white */
    height: 100%;
    font-family: var(--main-font-stack);
    font-size-adjust: 0.5; /* because Jost looked smaller than Futura */
    /*border-color: #aaa9ad;
    border-style: solid;
    border-width: 0pt 50pt 0pt 50pt;*/
}

.primary {
    color: var(--primary-text-color);
}

.secondary {
    color: var(--secondary-text-color);
}

.first-subsection {
    margin-top: 15pt;
    margin-bottom: 15pt;
    color: white;
    font-weight: bold;
}

.subsection {
    margin-top: 40pt;
    margin-bottom: 15pt;
    color: white;
    font-weight: bold;
}

.list-entry {
    width: var(--main-width);
    font-size: var(--main-font-size);
    font-weight: 700; /* bold */
    text-align: justify;
    color: var(--primary-text-color);
    padding-top: 15pt;
    padding-bottom: 15pt;
}

.pubentry {
}

.job {
}

.school {
    padding-top: 10pt;
    padding-bottom: 0pt;
}

.honentry {
}

div.author {
    font-size: var(--main-font-size);
}

div.article {
    color: var(--emph-color);
    font-weight: bold;
    font-size: var(--emph-font-size);
    text-align: left;
}

a.article:link {
    color: var(--link-emph-color);
    text-decoration: var(--link-decoration);
}
a.article:visited {
    color: var(--link-emph-color);
    text-decoration: var(--link-decoration);
}
a.article:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
}
a.article:active {
    color: var(--link-active-color);
    text-decoration: var(--link-hover-decoration);
}

div.plinks {
    color: var(--emph-color);
    font-weight: normal;
    font-size: var(--main-font-size);
}

h3.abstract {
    color: white;
    margin-top: 30pt;
    margin-bottom: 20pt;
}

h3.pnotes {
    color: white;
    margin-top: 30pt;
    margin-bottom: 20pt;
}

p.abstract {
    width: var(--main-width);
    text-align: justify;
    color: var(--primary-text-color);
}

p.pnotes {
    width: var(--main-width);
    text-align: justify;
    color: var(--primary-text-color);
}

.coursenum {
    color: var(--emph-color);
}

.epart {
    color: var(--emph-color);
}

.emph {
    color: var(--emph-color);
    font-size: var(--emph-font-size);
    font-weight: bold;
}

ul.pnotes {
    width: var(--list-item-width); /*558; /*hack for mlabs page*/
    text-align: justify;
    color: var(--primary-text-color);
}

/* Section styling */
.section-content {
    margin-left: 40px;  /* instead of blockquote indentation */
}

/* separated list */
.separated-list {
    --separated-list-border-type: thin solid;
}

.separated-list .list-entry:not(:first-child) {
    border-top: var(--separated-list-border-type);
}

.separated-list .list-entry:first-child {
    border-top: var(--separated-list-border-type);
}

.separated-list .list-entry:last-child {
    border-bottom: var(--separated-list-border-type);
}

/* Footer date styling */
.footer-date {
    margin-top: 30pt;
}

.footer-date::before {
    content: '';
    display: block;
    border-top: 1px solid currentColor;  /* Creates the horizontal line */
    margin-bottom: 2pt;  /* Space between line and text */
}

.footer-date {
    text-align: right;
    color: #a0a0a0;
    font-size: var(--footer-font-size);
}

/*-------------------- links --------------------*/
a:link {
    color: var(--main-link-color); 
    text-decoration: var(--link-decoration);
}
a:visited {
    color: var(--main-link-color);
    text-decoration: var(--link-decoration);
}
a:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
}
a:active {
    color: var(--link-active-color);
    text-decoration: var(--link-hover-decoration);
}

a.hidden {
    color: #000000;
    font-size: var(--hidden-font-size);
    text-decoration: none;
}

/*--- Lyft ---*/
a.lyft:link {
    color: #ff00bf; /* lyft-pink */
    text-decoration: var(--link-decoration);
}
a.lyft:visited {
    color: #8f91ff; /* lyft-violet-2 */
    text-decoration: var(--link-decoration);
}
a.lyft:hover {
    color: #8d3a7f; /* lyft-purple */
    text-decoration: var(--link-hover-decoration);
}
a.lyft:active {
    color: #869eb5; /* bluish */
    text-decoration: var(--link-hover-decoration);
}

div.lyft {
    color: #ff00bf; /*lyft-pink*/
    font-weight: bold;
    font-size: var(--emph-font-size);
}

/*-------------------- link series --------------------*/
/* Base styles for link series */
.link-series {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative; /* For positioning outer separators */
    justify-content: flex-start;
    --separator-color: var(--primary-text-color); /*emph-color*/
    --link-spacing: 5px;
    --bracket-text-spacing: 1px;
}

.link-series a {
    margin: calc(var(--link-spacing)/2) var(--link-spacing);
    padding: 0 var(--link-spacing); /* Padding for the separators */
    white-space: nowrap; /* Prevents wrapping within link text */
    position: relative; /* For positioning the separator */
}

/*---------- Separator style (default) ----------*/
/* Add separators between links */
.link-series a:not(:first-child)::before,
.link-series.separator-style a:not(:first-child)::before {
    content: "|";
    position: absolute;
    left: calc(-1*var(--link-spacing));
    top: 50%;
    transform: translateY(-50%);
    color: var(--separator-color);
}

/* Add outer separators */
.link-series a:first-child::before,
.link-series a:last-child::after,
.link-series.separator-style a:first-child::before,
.link-series.separator-style a:last-child::after {
    content: "|";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--separator-color);
}

.link-series a:first-child::before,
.link-series.separator-style a:first-child::before {
    left: calc(-1*var(--link-spacing));
}

.link-series a:last-child::after,
.link-series.separator-style a:last-child::after {
    right: calc(-1*var(--link-spacing));
}

/*---------- Bracket style ----------*/    
/* Remove outer separators */
.link-series.bracket-style::before,
.link-series.bracket-style::after {
    content: none;
}

.link-series.bracket-style a {
    margin: 0;
    padding: 0;
}

.link-series.bracket-style a::before {
    content: '[';
    margin-right: var(--bracket-text-spacing);
}

.link-series.bracket-style a::after {
    content: ']';
    margin-left: var(--bracket-text-spacing);
}

/* Ensure brackets for all links in bracket style */
.link-series.bracket-style a:not(:last-child)::after {
    content: ']';
    color: inherit;
    position: static;
    margin-left: var(--bracket-text-spacing);
}

/* Add space between bracketed items */
.link-series.bracket-style a:not(:last-child) {
    margin-right: var(--link-spacing);
}

/*-------------------- homepage --------------------*/
/* Main content layout */
.main-container {
    width: 100%;
}

.top-section {
    display: grid;
    grid-template-columns: auto 174px;
    gap: 2rem;
    margin-bottom: 2rem;
}

.content-column {
    display: flex;
    flex-direction: column;
}

/* Name styling */
.name-header {
    font-size: var(--name-header-font-size);
    font-weight: normal;
    color: #aaa9ad;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

/* Title list styling */
.title-list {
    margin: 0;          /* Remove default margins */
    padding: 5pt 0 0 0;  /* Add top spacing, remove default indentation padding */
    list-style: none;   /* Remove bullet points */
}

.title-list li {
    display: inline;
    color: var(--emph-color);
    font-size: var(--emph-font-size);
    font-weight: bold;
    white-space: nowrap; /* Prevents wrapping within role text */
}

.title-list li:not(:last-child)::after {
    content: " / ";
    color: var(--primary-text-color);
}

/* Location text */
.location {
    margin-top: 0.5rem;
    color: var(--primary-text-color);
    font-size: var(--main-font-size);
    font-weight: bold;
}

/* Profile image */
.profile-image {
    margin: 0;
    padding: 0;
}

.profile-image img {
    width: 174px;
    height: 234px;
    max-width: 100%;  /* Keeps the image responsive */
    display: block;
}

/* Contact section styling */
.contact-section {
    margin-top: 2rem;
}

.contact-section h2 {
    margin-bottom: 1rem;
}

.contact {
    font-weight: 400; /* medium */
}

/* External links section */
.external-links-section {
    width: 100%;
    margin-top: 2rem;
    font-size: var(--external-link-font-size);
}

.external-links-section h2 {
    margin-bottom: 1rem;
}

/*-------------------- menu --------------------*/
.content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.menu-container {
    position: fixed; /* Make container fixed */
    top: 0; /* Align to top of viewport */
    left: 10;
    flex: 0 0 var(--menu-width);
    max-width: var(--menu-width);
    padding-top: 0px;
    padding-right: 5px;
    background-color: #141414; /* dark grey */
    height: 100vh; /* full viewport height */
    border-right: 1px solid;
    z-index: 1000; /* Ensure menu stays above other content */
}

.content-container {
    flex: 1;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: calc(var(--menu-width) + 30px);
}

.menu {
    position: sticky;
    top: 0;
    padding: 100px 5px 20px 20px; /* top, right, bottom, left */
}

.menu a {
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: var(--main-font-size);
    text-decoration: none;
}

/*---------------Small Screen / Mobile Styles --------------------*/
@media (max-width: 768px) { /* breakpoint for top menu */
    .content-wrapper {
        flex-direction: column;
    }
    
    .menu-container {
        position: fixed; /* Keep fixed positioning */
        flex-basis: auto;
        max-width: 100%;
        width: 100%; /* Full width */
        width: auto;
        height: auto;
        border-right: none; /* Remove right border on mobile */
        border-bottom: 1px solid; /* Add a bottom border for separation */
        background-color: #141414; /* Ensure background is visible */
    }
    
    .content-container {
        padding-left: 0;
        margin-top: 70px; /* Add space for fixed menu */
    }
    
    .menu {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Aligns items to the left */
        align-items: center; /* Vertically centers items */
        padding: var(--menu-link-spacing) calc(2*var(--menu-link-spacing));
        --menu-separator-color: var(--emph-color);
        --menu-link-spacing: 5px;
    }

    .menu a {
        margin: calc(var(--menu-link-spacing)/2) var(--menu-link-spacing);
        padding: 0 var(--menu-link-spacing); /* Padding for the separators */
        white-space: nowrap; /* Prevents wrapping within link text */
        position: relative; /* For positioning the separator */
    }

    /* Add separators between menu items */
    .menu a:not(:first-child)::before {
        content: "|";
        position: absolute;
        left: calc(-1*var(--menu-link-spacing)); /* Adjust based on the margin */
        top: 50%;
        transform: translateY(-50%);
        color: var(--menu-separator-color);
    }

    /* Add outer separators */
    .menu a:first-child::before,
    .menu a:last-child::after {
        content: "|";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--menu-separator-color);
    }
    
    .menu a:first-child::before {
        left: calc(-1*var(--menu-link-spacing));
    }

    .menu a:last-child::after {
        right: calc(-1*var(--menu-link-spacing));
    }

    /* remove section indentation on small screens */
    .section-content {
        margin-left: 0;
    }
}
